// Character Sliders
.CharContainer {
  border: 3px solid $light;

  @media only screen and (max-width: 1200px) {
    // width: 100%;
    margin-bottom: 25px;
  }

  .item {
    padding: 25px;
    border-bottom: 3px solid $light;
    color: $light;

    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 900px) {
    }
  }

  .item:nth-last-child(1) {
    border-bottom: none;
  }
  .item:nth-last-child(even) {
    background-color: $light;
    color: $dark;
  }

  .Delete {
    padding: 10px 20px;

    background-color: $dark;
    color: $light;
    cursor: pointer;
    font-size: 20px;

    transition-duration: 0.3s;

    font-family: Arial, Helvetica, sans-serif;
  }
  .Delete:hover {
    background-color: $dark;
    color: #f61517;
    // border: 1px solid #f61517;
  }

  .DeleteEdit {
    padding: 10px 20px;

    background-color: $dark;
    color: $light;
    cursor: pointer;
    font-size: 20px;

    transition-duration: 0.3s;
  }
  .DeleteEdit:hover {
    background-color: $dark;
    color: #f61517;
  }

  .Edit {
    padding: 10px 20px;

    background-color: $dark;
    color: $light;
    cursor: pointer;
    font-size: 20px;

    transition-duration: 0.3s;
  }

  .Edit:hover {
    background-color: $accent;
    color: $dark;

    text-decoration: underline;
  }

  .Update {
    background-color: $dark;
    color: $light;
    border-radius: 4px;
    margin: auto;
    width: 70px;
    padding: 3px 7px;
    cursor: pointer;
  }

  .itemRowOne {
    display: flex;
    flex-direction: row;
  }
  .itemLeft {
    width: 70%;

    display: flex;
    flex-direction: column;
  }

  .itemRight {
    width: 30%;

    display: flex;
    flex-direction: column;
  }
}

.itemRowTwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.HPEditor {
  display: flex;
  flex-direction: column;

  .Heal {
    color: greenyellow;
    background-color: $dark;
    border-radius: 4px;
    margin: auto;

    width: 70px;
    padding: 3px 7px;
    cursor: pointer;
  }
  .Harm {
    color: #d90368;
    background-color: $dark;
    border-radius: 4px;
    margin: auto;

    width: 70px;
    padding: 3px 7px;
    cursor: pointer;
  }
  input {
    margin: 5px auto;
    height: 60px;
    width: 63px;
    text-align: center;
    font-size: 25px;
  }
}

.empty {
  margin-top: 50px;
  margin-left: 50px;
  width: 450px;

  @media only screen and (max-width: 900px) {
    width: 80vw;
    text-align: center;
    margin: auto;
    padding-bottom: 25vh;
  }
}

// Death Saves
.DeathSaves {
  // border: 1px solid red;

  width: 100%;
  text-align: center;
  h4 {
    margin: 0;
  }

  .Saves {
  }
  .Fails {
    .fails {
      accent-color: #b00a07;
      width: 10%;
    }
  }

  .LastChance {
    .Heal {
      color: greenyellow;
      background-color: $dark;
      border-radius: 4px;
      margin: auto;

      width: 70px;
      padding: 3px 7px;
      cursor: pointer;
    }

    .HPEditBox {
      width: 40%;
      text-align: center;
    }
  }
}

// Main Body Container
.mainBodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 100%;
  padding: 50px;

  @media only screen and (max-width: 900px) {
    padding: 15px;
    flex-wrap: wrap;
  }
}

// Adding Rounds
.AddRoundContainer {
  // padding: 25px;
  color: $accent;

  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 900px) {
    padding: 15px;
  }
}

.finishRoundLink {
  background-color: $light;
  color: $dark;

  text-decoration: none;
  text-align: center;

  padding: 25px;
  margin-top: 25px;
  font-size: 20px;

  font-family: Arial, Helvetica, sans-serif;
}

.DisplayRound {
  margin-top: 25px;
  padding: 5px;
  // border-radius: 12px;

  background-color: $accent;
  h3 {
    color: $dark;
  }
}
