// Fonts & Variables
@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

$bodyFont: "Hind", sans-serif;
$headingFont: "Handlee", cursive;
$dark: #071103;
$light: #f7b064;
$accent: #ef2d56;

// Overall
body {
  background-color: $dark;
  color: $light;
  padding: 0;
  margin: 0;

  overflow-x: hidden;

  font-family: $bodyFont;
}

// Header
.Header {
  font-size: 20px;

  padding: 50px;

  width: 100vw;

  h1 {
    font-family: $headingFont;
  }

  p {
    width: 30%;
  }
}

.buttons {
  float: right;

  padding-right: 75px;
  button {
    background-color: $accent;

    font-size: 20px;
    cursor: pointer;
  }
}
// Input Popup
.Pop-Up {
  z-index: 5;
  background-color: rgba(000, 000, 000, 0.5);
  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0;
  left: 0;

  .inputBox {
    padding: 25px;
    background-color: antiquewhite;
    width: 500px;
    height: 230px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    button {
      float: right;
      font-size: 20px;
      margin: 10px auto 0;
      cursor: pointer;
      transition-duration: 0.5s;
    }

    button:hover {
      background-color: $accent;
      color: $dark;
    }

    input {
      width: 98%;
      font-size: 20px;
      margin: 10px auto 0;
    }
    select {
      width: 100%;
      font-size: 20px;
      margin: 10px auto 0;
    }
  }
}

// Character Sliders
.CharContainer {
  border: 1px solid $light;
  margin-left: 50px;
  width: 450px;
  overflow-y: hidden;

  .item {
    padding: 25px;
    border-bottom: 1px solid $accent;

    background-color: #1c450c;

    span {
      color: red;
      cursor: pointer;
    }
  }

  .item:nth-last-child(1) {
    border-bottom: none;
  }
}

.empty {
  margin-top: 50px;
  margin-left: 50px;
  width: 450px;
}

// Footer
.Footer {
  position: absolute;
  bottom: 0;
  font-family: $headingFont;
  font-size: 20px;

  padding: 25px 50px;

  width: 100vw;
}
