@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: #222222;
  color: #fff6bd;
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 900px) {
  body {
    max-width: 100vw;
    overflow-x: hidden !important;
  }
}

.App {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Header {
  font-size: 20px;
  padding: 50px 0;
  text-align: center;
  width: 100vw;
  color: #fff6bd;
}

@media only screen and (max-width: 900px) {
  .Header {
    padding: 5vw 0;
  }
}

.Header h1 {
  font-family: "Playfair Display", serif;
  width: 100vw;
  text-align: center;
  padding: 0px;
}

@media only screen and (max-width: 900px) {
  .Header h1 {
    width: 100%;
    font-size: 30px;
    padding: 20px 20px 0px 20px;
    text-align: center;
    margin-left: -20px;
  }
}

.buttons {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media only screen and (max-width: 900px) {
  .buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.buttons button {
  background-color: #222222;
  color: #fff6bd;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #fff6bd;
  margin: 25px;
  border-radius: 4px;
  width: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media only screen and (max-width: 900px) {
  .buttons button {
    margin: 5px;
    width: 45%;
  }
}

.buttons button:hover {
  background-color: #fff6bd;
  color: #222222;
}

.buttons .Clear:hover {
  background-color: #222222;
  color: #f61517;
  border: 1px solid #f61517;
  font-size: 24px;
  font-weight: 700;
}

.buttons .Clear {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.Pop-Up {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 900px) {
  .Pop-Up {
    height: 150vh;
  }
}

.Pop-Up .inputBox {
  z-index: 50;
  padding: 25px;
  background-color: #222222;
  width: 300px;
  margin: 150px auto;
  border-radius: 10px;
  overflow-x: hidden;
  border: 1px solid #fff6bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Pop-Up .inputBox form {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Pop-Up .inputBox input {
  width: 83%;
  font-size: 20px;
  margin: 10px auto 0;
  background-color: #222222;
  border: 1px solid #fff6bd;
  padding: 25px;
  color: #fff6bd;
}

.Pop-Up .inputBox .closeForm {
  width: 100%;
  font-size: 20px;
  border-radius: 4px;
  background-color: #222222;
  border: 1px solid #fff6bd;
  padding: 25px;
  cursor: pointer;
  color: #fff6bd;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.Pop-Up .inputBox .closeForm:hover {
  background-color: #222222;
  color: #f61517;
  border: 1px solid #f61517;
  font-size: 24px;
  font-weight: 700;
}

.Pop-Up .inputBox input[type="submit"] {
  width: 100%;
  font-size: 20px;
  margin: 10px auto 0;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #fff6bd;
}

.Pop-Up .inputBox input[type="submit"]:hover {
  background-color: #fff6bd;
  color: #222222;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.CharContainer {
  border: 3px solid #fff6bd;
}

@media only screen and (max-width: 1200px) {
  .CharContainer {
    margin-bottom: 25px;
  }
}

.CharContainer .item {
  padding: 25px;
  border-bottom: 3px solid #fff6bd;
  color: #fff6bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.CharContainer .item:nth-last-child(1) {
  border-bottom: none;
}

.CharContainer .item:nth-last-child(even) {
  background-color: #fff6bd;
  color: #222222;
}

.CharContainer .Delete {
  padding: 10px 20px;
  background-color: #222222;
  color: #fff6bd;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}

.CharContainer .Delete:hover {
  background-color: #222222;
  color: #f61517;
}

.CharContainer .DeleteEdit {
  padding: 10px 20px;
  background-color: #222222;
  color: #fff6bd;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.CharContainer .DeleteEdit:hover {
  background-color: #222222;
  color: #f61517;
}

.CharContainer .Edit {
  padding: 10px 20px;
  background-color: #222222;
  color: #fff6bd;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.CharContainer .Edit:hover {
  background-color: #fee650;
  color: #222222;
  text-decoration: underline;
}

.CharContainer .Update {
  background-color: #222222;
  color: #fff6bd;
  border-radius: 4px;
  margin: auto;
  width: 70px;
  padding: 3px 7px;
  cursor: pointer;
}

.CharContainer .itemRowOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.CharContainer .itemLeft {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.CharContainer .itemRight {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.itemRowTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.HPEditor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.HPEditor .Heal {
  color: greenyellow;
  background-color: #222222;
  border-radius: 4px;
  margin: auto;
  width: 70px;
  padding: 3px 7px;
  cursor: pointer;
}

.HPEditor .Harm {
  color: #d90368;
  background-color: #222222;
  border-radius: 4px;
  margin: auto;
  width: 70px;
  padding: 3px 7px;
  cursor: pointer;
}

.HPEditor input {
  margin: 5px auto;
  height: 60px;
  width: 63px;
  text-align: center;
  font-size: 25px;
}

.empty {
  margin-top: 50px;
  margin-left: 50px;
  width: 450px;
}

@media only screen and (max-width: 900px) {
  .empty {
    width: 80vw;
    text-align: center;
    margin: auto;
    padding-bottom: 25vh;
  }
}

.DeathSaves {
  width: 100%;
  text-align: center;
}

.DeathSaves h4 {
  margin: 0;
}

.DeathSaves .Fails .fails {
  accent-color: #b00a07;
  width: 10%;
}

.DeathSaves .LastChance .Heal {
  color: greenyellow;
  background-color: #222222;
  border-radius: 4px;
  margin: auto;
  width: 70px;
  padding: 3px 7px;
  cursor: pointer;
}

.DeathSaves .LastChance .HPEditBox {
  width: 40%;
  text-align: center;
}

.mainBodyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  padding: 50px;
}

@media only screen and (max-width: 900px) {
  .mainBodyContainer {
    padding: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.AddRoundContainer {
  color: #fee650;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 900px) {
  .AddRoundContainer {
    padding: 15px;
  }
}

.finishRoundLink {
  background-color: #fff6bd;
  color: #222222;
  text-decoration: none;
  text-align: center;
  padding: 25px;
  margin-top: 25px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.DisplayRound {
  margin-top: 25px;
  padding: 5px;
  background-color: #fee650;
}

.DisplayRound h3 {
  color: #222222;
}

.Footer {
  margin-top: auto;
  background-color: #222222;
  color: #fff6bd;
  border-top: 3px solid #fff6bd;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  text-align: center;
  padding: 25px 0;
  overflow-y: hidden !important;
  width: 100vw;
}

@media only screen and (max-width: 900px) {
  .Footer {
    padding: 15px;
    position: fixed;
    bottom: 0;
  }
}

.Footer h4 {
  padding: 5px;
  font-size: 25px;
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .Footer h4 {
    font-size: 15px;
    margin-left: -5%;
  }
}

.Footer h4 a {
  color: #fee650;
  text-decoration: none;
}
/*# sourceMappingURL=App.css.map */