// Fonts & Variables

// Header

.Header {
  position: absolute;
  top: 0;
}

.buttons {
}
// Input Popup
.InputPop {
}
// Character Sliders
.CharContainer {
  .item {
  }
}

// Footer
.Footer {
  position: absolute;
  bottom: 0;
}
